In [1]:
from pathlib import Path
import pandas as pd

In [20]:
data = Path('Ethereum_10_17_2023-10_16_2024_historical_data_coinmarketcap.csv')
Eth_df = pd.read_csv(data, delimiter= ';')
Eth_df['timestamp'] = pd.to_datetime(Eth_df['timestamp'])
Eth_df['Date'] = Eth_df['timestamp'].dt.strftime('%m/%d/%Y')
Eth_df.head()

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp,Date
0,2024-10-15T00:00:00.000Z,2024-10-15T23:59:59.999Z,2024-10-15T14:02:00.000Z,2024-10-15T15:10:00.000Z,2781,2629.017572,2685.166761,2537.941033,2606.021869,2.200378e+10,3.137268e+11,2024-10-15 23:59:59.999000+00:00,10/15/2024
1,2024-10-14T00:00:00.000Z,2024-10-14T23:59:59.999Z,2024-10-14T23:02:00.000Z,2024-10-14T02:06:00.000Z,2781,2467.647431,2652.881745,2443.552917,2628.899897,2.143469e+10,3.164942e+11,2024-10-14 23:59:59.999000+00:00,10/14/2024
2,2024-10-13T00:00:00.000Z,2024-10-13T23:59:59.999Z,2024-10-13T00:33:00.000Z,2024-10-13T15:45:00.000Z,2781,2476.520327,2484.129445,2436.969617,2467.676963,9.189491e+09,2.970638e+11,2024-10-13 23:59:59.999000+00:00,10/13/2024
3,2024-10-12T00:00:00.000Z,2024-10-12T23:59:59.999Z,2024-10-12T22:55:00.000Z,2024-10-12T03:30:00.000Z,2781,2436.515670,2488.237713,2434.202940,2476.523102,9.372169e+09,2.981290e+11,2024-10-12 23:59:59.999000+00:00,10/12/2024
4,2024-10-11T00:00:00.000Z,2024-10-11T23:59:59.999Z,2024-10-11T19:22:00.000Z,2024-10-11T01:38:00.000Z,2781,2383.940098,2470.395766,2380.504594,2436.513482,1.348906e+10,2.933118e+11,2024-10-11 23:59:59.999000+00:00,10/11/2024

In [22]:
Eth_df_clean = Eth_df[['Date','close', 'volume']]
Eth_df_clean = Eth_df_clean.rename(columns={'close': 'Close', 'volume': 'Volume'})
Eth_df_sorted = Eth_df_clean.sort_values(by='Date', ascending=True)
Eth_df_sorted.head()

           Date        Close        Volume
288  01/01/2024  2352.327941  6.906766e+09
287  01/02/2024  2355.836475  1.291054e+10
286  01/03/2024  2210.761892  1.933293e+10
285  01/04/2024  2269.038183  1.104456e+10
284  01/05/2024  2268.647227  1.086095e+10

In [23]:
data = Path('Full_timeline_analysis\ETH-USD (2017-2024)_2.csv')
Eth_df_2 = pd.read_csv(data)
Eth_df_2['Date'] = pd.to_datetime(Eth_df_2['Date'])
Eth_df_2['Date'] = Eth_df_2['Date'].dt.strftime('%m/%d/%Y')
Eth_df_clean_old = Eth_df_2[['Date', 'Close','Volume']]
Eth_df_clean_old.head()

         Date       Close        Volume
0  11/10/2017  299.252991  8.859860e+08
1  11/11/2017  314.681000  8.423010e+08
2  11/12/2017  307.907990  1.613480e+09
3  11/13/2017  316.716003  1.041890e+09
4  11/14/2017  337.631012  1.069680e+09

In [24]:
final_2 = pd.concat([Eth_df_clean_old, Eth_df_sorted], axis=0)
e_final = final_2.sort_values(by='Date', ascending=True)
df_cleaned = e_final.drop_duplicates(subset=['Date'], keep='first')
df_cleaned.to_csv('total_Ethcoin.csv', index=False)

In [6]:
data = Path('Bitcoin_10_17_2023-10_16_2024_historical_data_coinmarketcap.csv')
Bit_df = pd.read_csv(data, delimiter= ';')
Bit_df['timestamp'] = pd.to_datetime(Bit_df['timestamp'])
Bit_df['Date'] = Bit_df['timestamp'].dt.strftime('%m/%d/%Y')
Bit_df.head()

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp,Date
0,2024-10-15T00:00:00.000Z,2024-10-15T23:59:59.999Z,2024-10-15T14:02:00.000Z,2024-10-15T15:09:00.000Z,2781,66050.368727,67881.679587,64809.196947,67041.107165,4.886387e+10,1.325307e+12,2024-10-15 23:59:59.999000+00:00,10/15/2024
1,2024-10-14T00:00:00.000Z,2024-10-14T23:59:59.999Z,2024-10-14T23:01:00.000Z,2024-10-14T00:53:00.000Z,2781,62848.399488,66482.494386,62442.154000,66046.128069,4.370696e+10,1.305664e+12,2024-10-14 23:59:59.999000+00:00,10/14/2024
2,2024-10-13T00:00:00.000Z,2024-10-13T23:59:59.999Z,2024-10-13T00:33:00.000Z,2024-10-13T15:31:00.000Z,2781,63192.943575,63272.652963,62035.636690,62851.374917,1.817753e+10,1.242342e+12,2024-10-13 23:59:59.999000+00:00,10/13/2024
3,2024-10-12T00:00:00.000Z,2024-10-12T23:59:59.999Z,2024-10-12T15:15:00.000Z,2024-10-12T00:00:00.000Z,2781,62444.617406,63448.783244,62443.271353,63193.023070,1.674411e+10,1.249124e+12,2024-10-12 23:59:59.999000+00:00,10/12/2024
4,2024-10-11T00:00:00.000Z,2024-10-11T23:59:59.999Z,2024-10-11T19:13:00.000Z,2024-10-11T01:37:00.000Z,2781,60275.460835,63400.869880,60046.125828,62445.088607,3.032714e+10,1.234303e+12,2024-10-11 23:59:59.999000+00:00,10/11/2024

In [15]:
Bit_df_clean = Bit_df[['Date','close', 'volume']]
Bit_df_clean = Bit_df_clean.rename(columns={'close': 'Close', 'volume': 'Volume'})
Bit_df_sorted = Bit_df_clean.sort_values(by='Date', ascending=True)
Bit_df_sorted

           Date         Close        Volume
288  01/01/2024  44167.330214  1.842698e+10
287  01/02/2024  44957.970054  3.933527e+10
286  01/03/2024  42848.175641  4.634232e+10
285  01/04/2024  44179.921701  3.044809e+10
284  01/05/2024  44162.691630  3.233603e+10
..          ...           ...           ...
293  12/27/2023  43442.854558  2.526094e+10
292  12/28/2023  42627.853531  2.299209e+10
291  12/29/2023  42099.402809  2.600002e+10
290  12/30/2023  42156.901150  1.601393e+10
289  12/31/2023  42265.185655  1.639750e+10

[364 rows x 3 columns]

In [13]:
data = Path('Full_timeline_analysis/BTC-USD (2014-2024)_2.csv')
Bit_df_2 = pd.read_csv(data)
Bit_df_2['Date'] = pd.to_datetime(Bit_df_2['Date'])
Bit_df_2['Date'] = Bit_df_2['Date'].dt.strftime('%m/%d/%Y')
Bit_df_clean_old = Bit_df_2[['Date', 'Close','Volume']]
Bit_df_clean_old.head()

         Date       Close      Volume
0  09/18/2014  424.440002  34483200.0
1  09/19/2014  394.795990  37919700.0
2  09/20/2014  408.903992  36863600.0
3  09/21/2014  398.821014  26580100.0
4  09/22/2014  402.152008  24127600.0

In [18]:
final = pd.concat([Bit_df_clean_old, Bit_df_sorted], axis=0)
b_final = final.sort_values(by='Date', ascending=True)
df_cleaned = b_final.drop_duplicates(subset=['Date'], keep='first')
df_cleaned.to_csv('total_bitcoin.csv', index=False)